*{
    padding: 0;
    margin: 0;
    color: white;
}
 #navbar{
    height:60px;
    background-color: #0f1111; 

}
button{
    background-color: rgb(186, 137, 74);
}
#logo{
    color: rgb(192, 125, 38);
}
a{
    margin-right: 200px;
}
    .contentbox{
    height: 100px;
    width: 100px;
}
