/* body{
    text-align: center;
}

div{
    height: 100px;
    width: 100px;
    display: inline-block;
    border: 2px solid black;
}

#container{
    width: 800px;
    height: 200px;
    display: flex;
    flex-direction: row-reverse;
}

#box1{
    background-color: aqua;
}
#box2{
    background-color: bisque;
}
#box3{
    background-color: aquamarine;
}
#box4{
    background-color: rgb(215, 112, 115);
} */
 /* *{
    margin: 0px;
    border: 0px;
 } */

/* div{
    background-color: pink;
    display:flex;
    justify-content:space-evenly;
}
a{
    text-decoration: none;
    color: black;
    /* margin-right: 80px; */
/* 
li{
    list-style-type: none;
    display: inline; */
    div{
        height: 150px;
        width: 150px;
        background-color: pink;
    }
    @media ( max-width:300px){
        div{
            background-color: brown;
        }
    }    
    @media (min-width:300px)and(max-width:400px){
         div{
                background-color: green;
         }
    }
     @media (min-width:400px)and(max-width:600px){
         div{
                background-color: green;
         }
    }
    @media ( min-width:600px){
        div{
            background-color: rgb(95, 42, 165);
        }
    } 